@font-face {
  font-family: "KyivTypeTitling-VarGX";
  src: url("./font/KyivTypeTitling-VarGX.woff2") format("woff2-variations");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
}

canvas {
  border: 1px solid #333;
  position: absolute;
  z-index: 2;
}

video {
  position: absolute;
  /* display: none; */
}